@import url('https://fonts.googleapis.com/css2?family=Lilita+One&family=Roboto&family=Roboto+Condensed:wght@300;400;500&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  background-color: #f5f5f5;
}

.search-form{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem 0;
    background-color: #fff;
    box-shadow: 0px 3px 5pc rgba(0,0,0,.2);
}

.search-form .input-control{
    position: relative;
    width: 37rem;
    margin-left: 2rem;
}

.search-form .input-control input{
    width: 100%;
    height: 3rem;
    border-radius: 12px;
    border: 1px solid #ccc;
    background-color: #fafafa;
    font-family: inherit;
    font-size: inherit;
    padding: 1rem 2rem;
    font-weight: 400;
    color: #333;
    transition: all .3s ease-in-out;
    box-shadow: 0px 3px 5px rgba(0,0,0,.2);
    outline: none;
}

.search-form .input-control input:focus{
    outline: none;
    border: 2px solid #7263f3;
}

.search-form .input control input::placeholder{
    color: #999;
    opacity: 0.3;
}

.search-form .input-control button{
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 8px;
    background-color: #7263f3;
    cursor: pointer;
    font-family: inherit;
    font-size: inherit;
    color: #fff;
}

.search-results{
    position: absolute;
    height: 14rem;
    width: 37rem;
    top: 12%;
    left: 50%;
    overflow: auto;
    transform: translateX(-50%);
    z-index: 5;
    padding: 1rem 1.2rem;
    box-shadow: 3px 4px 15px rgba(0,0,0,.6);
    background-color: #fff;
    border-radius: 5px;
}

.pokemon-name{
    display: flex;
    align-items: center;
    padding: 0.5rem 1rem;
    border-radius: 8px;
    cursor: pointer;
    transition: all .3s ease;
    text-transform: capitalize;
}

.search-results::-webkit-scrollbar {
    width: 10px;
}

.pokemon-name:hover{
    background-color: #f5f5f5;
    color: #7263f3;
}

.all-pokemon{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 2rem;
    padding: 2rem;
    margin: 3rem 15rem;
}

.all-pokemon .pokemon{
    display:flex;
    flex-direction: column;
    box-shadow: 1px 3px 5px rgba(0,0,0,0.10);
    border-radius: 12px;
    cursor: pointer;
    transition: all;
}

.all-pokemon .pokemon:hover{
    border-radius: 12px;
    transform: translateY(-5px);
    box-shadow: 1px 3px 5px rgba(0,0,0,0.20);
}

.all-pokemon .pokemon .card-image{
    height: 110px;
    border-top-right-radius: 12px;
    border-top-left-radius: 12px;
}

.all-pokemon .pokemon img{
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-top-right-radius: 12px;
    border-top-left-radius: 12px;
    /* background-color: rgba(255, 253, 208, 0.26); */
}

.all-pokemon .pokemon .card-body{
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    background-color:rgba(243, 4, 4, 0.486);
    border-radius: 10px;
}

.card-body h3{
    font-size: 1.2rem;
    font-weight: 500;
    text-align: center;
    margin-bottom: 1rem;
    text-transform: capitalize;
    color: white;
}

.card-body p{
    font-size: 1rem;
    font-weight: 400;
    text-align: center;
    margin-bottom: 1rem;
    text-transform: capitalize;
    color: black;
}